
@{

    ViewBag.Title = "courses";
    Layout = "~/Views/shared/_adminLayout.cshtml";

    string selected = "";
}

<h2>دوره ها</h2>
<button id="createCourseButton" style="margin:20px" class="btn btn-success">ایجاد دوره</button>

<div class="row" style="display: flex; flex-direction: column; align-items: flex-end; margin: 5px;">
    <section class="section">
        <div class="col-lg-10">
            <div class="row">
                <div class="card-body">


                    <!-- Default Accordion -->
                    @foreach (var item in ViewBag.courses)
                    {

                        <div class="accordion acc_@item.pkID" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@item.pkID" aria-expanded="false" aria-controls="collapseOne">
                                        @item.courseTitle
                                    </button>
                                </h2>
                                <div id="collapseOne_@item.pkID" class="accordion-collapse collapse" aria-labelledby="heading" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div>
                                            <div class="card-body">


                                                <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                                                    <li class="nav-item flex-fill" role="presentation">
                                                        <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab1_@item.pkID" type="button" role="tab" aria-controls="home" aria-selected="true">مشخصات دوره</button>
                                                    </li>
                                                    <li class="nav-item flex-fill" role="presentation">
                                                        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tab2_@item.pkID" type="button" role="tab" aria-controls="profile" aria-selected="false">عکس</button>
                                                    </li>
                                                </ul>
                                                <div class="tab-content pt-2" id="myTabjustifiedContent">
                                                    <div class="tab-pane fade show active" id="tab1_@item.pkID" role="tabpanel" aria-labelledby="home-tab">

                                                        <form>
                                                            <div class="row mb-3">
                                                                <label for="inputText" class="col-sm-12 col-form-label">عنوان دوره</label>
                                                                <div class="col-sm-12">
                                                                    <input id="ct_@item.pkID" type="text" class="form-control" placeholder="عنوان دوره را وارد " value="@item.courseTitle">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="row mb-3">
                                                                        <label for="inputPassword" class="col-sm-12 col-form-label">توضیحات</label>
                                                                        <div class="col-sm-12">
                                                                            <textarea id="cdis_@item.pkID" class="form-control" style="height: 130px">@item.description</textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="row mb-3">
                                                                        <label class="col-sm-12 col-form-label">استاد</label>
                                                                        <div class="col-sm-12">
                                                                            <select id="cm_@item.pkID" class="form-select" aria-label="Default select example">
                                                                                @foreach (var t in ViewBag.teachers)
                                                                                {
                                                                                    if (item.fkTEACH == t.pkID)
                                                                                    {
                                                                                        selected = "selected";
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        selected = "";
                                                                                    }

                                                                                    <option id="ccm_@t.pkID" @selected>@t.firstname @t.lastname</option>

                                                                                }

                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mb-3">
                                                                        <label class="col-sm-12 col-form-label">بخش</label>
                                                                        <div class="col-sm-12">
                                                                            <select id="cc_@item.pkID" class="form-select" aria-label="Default select example">
                                                                                @foreach (var y in ViewBag.category)
                                                                                {
                                                                                    if (item.fkCat == y.pkID)
                                                                                    {
                                                                                        selected = "selected";
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        selected = "";

                                                                                    }
                                                                                    <option id="ccc_@y.pkID" @selected>@y.category</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>

                                                            <div class="row">

                                                                <label class="col-sm-12 col-form-label">وضعیت انتشار</label>
                                                                <div class="col-sm-3">
                                                                    <select id="cs_@item.pkID" class="form-select" aria-label="Default select example">
                                                                        <option name="true" selected="@item.status">انتشار</option>
                                                                        <option name="fasle" selected="!@item.status">عدم انتشار</option>
                                                                    </select>
                                                                </div>
                                                                <div class=" col-sm-5" style="display: flex; margin-left: 5px;">

                                                                    <button id="btn_submit_@item.pkID" type="button" class="btn btn-primary submitbtn">تایید اطلاعات</button>
                                                                    <button id="btn_delete_@item.pkID" type="button" class="btn btn-danger delbtn" style="margin-right:15px">حذف دوره</button>


                                                                    <div class=" submit_note" style=" font-size: 14px; font-weight: bold; display: flex; align-items: center; justify-content: center;">

                                                                        <p style=" margin-top: 12px; margin-left: 10px;" id="sub_message_@item.pkID"></p>

                                                                    </div>




                                                                </div>
                                                            </div>


                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="tab2_@item.pkID" role="tabpanel" aria-labelledby="profile-tab">
                                                        <div class="row">
                                                            <div class="image-container col-sm-6">
                                                                <img id="imgTag_@item.pkID" class="ImSticky imgCourseTag" src="~/AdminAssets/img/ImgCourse/@item.address" width="400" alt="@item.alt" title="@item.imgTitle" />
                                                            </div>


                                                            <form class="col-sm-6" enctype="multipart/form-data" id="formData">
                                                                <div style="display:none" class="row mb-3">
                                                                    <label for="inputText" class="col-sm-12 col-form-label">شناسه عکس</label>
                                                                    <div class="col-sm-12">
                                                                        <input type="text" name="imgpkID" class="form-control" value="@item.fkImg">
                                                                    </div>
                                                                </div>
                                                                <div style="display:none" class="row mb-3">
                                                                    <label for="inputText" class="col-sm-12 col-form-label"> شناسه دوره</label>
                                                                    <div class="col-sm-12">
                                                                        <input type="text" name="coursepkID" class="form-control" value="@item.pkID">
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="inputNumber" class="col-sm-12 col-form-label">بارگزاری عکس</label>
                                                                    <div class="col-sm-12">
                                                                        <input class="form-control" type="file" name="imgsrc" id="formFile cimag_@item.pkID" value="@item.fkImg">
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="inputText" class="col-sm-12 col-form-label">عنوان عکس</label>
                                                                    <div class="col-sm-12">
                                                                        <input id="it_@item.pkID" type="text" name="imgTitle" class="form-control" value="@item.imgTitle">
                                                                    </div>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <label for="inputText" class="col-sm-12 col-form-label">تک</label>
                                                                    <div class="col-sm-12">
                                                                        <input id="ca_@item.pkID" type="text" name="imgAlt" class="form-control" value="@item.alt">
                                                                    </div>
                                                                </div>

                                                                <button id="imgCourseConfirm_@item.pkID" type="button" class="btn btn-primary subbtn">تایید اطلاعات</button>
                                                            </form>


                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div><!-- End Default Accordion Example -->
                    }

                </div>
            </div>

        </div>
    </section>

</div>

@section BeforeScripts {
    <script>



        $(".submitbtn").click(function () {    //when button clicks
            showLoader();

            var thisID = $(this).attr("id");
            var split = thisID.split("_");



            var ct = $(`#ct_${split[2]}`).val();
            var cdis = $(`#cdis_${split[2]}`).val();
            var cm = $(`#cm_${split[2]}`).find('option:selected').attr('id');
            var cc = $(`#cc_${split[2]}`).find('option:selected').attr('id');
            var cs = $(`#cs_${split[2]}`).find('option:selected').attr('name');
            cm = cm.split("_");
            cc = cc.split("_");

            cs = (cs === 'true');


            $('.submit_note').css('color', 'blue');  //colors for signs in submits
            $(`#sub_message_${split[2]}`).html("در حال برقرار ارتباط با سرور");

            $.post("/admin/editCourses", { ct: ct, cdis: cdis, cm: cm[1], cc: cc[1], cs: cs, cID: split[2] })     //posting dada to adminControler for process

                .done(function (res) {          //the operations after returning result
                    if (res.status) {

                        $(`#sub_message_${split[2]}`).css("display", "none");
                        Swal.fire({
                            icon: "success",
                            title: "تغییرات ثبت شد!!!",
                            text: res.message,
                        });

                    }
                    else {
                        $('.submit_note').css('color', 'red');
                        $('.submit_note').css('direction', 'ltr');

                        $(`#sub_message_${split[2]}`).html(res.m);

                    }
                })

                .fail(function () {

                })


                .always(function () {
                    hideLoader();

                });

        });


        $(".delbtn").click(function () {

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            })
                .then((result) => {
                    if (result.isConfirmed) {
                        showLoader();

                        var thisID = $(this).attr("id");
                        var split = thisID.split("_")
                        $(`#sub_message_${split[2]}`).html("در حال برقرار ارتباط با سرور");
                        $.post("/admin/deleteCourses", { id: split[2], __RequestVerificationToken: token })

                            .done(function (res) {
                                if (res.status) {
                                    $(`.acc_${split[2]}`).remove();
                                    swalWithBootstrapButtons.fire({
                                        title: "Deleted!",
                                        text: "Your file has been deleted.",
                                        icon: "success"
                                    });
                                }
                                else {
                                    $(`#sub_message_${split[2]}`).html(res.m);
                                }

                            })

                            .always(function () {
                                hideLoader();


                            });

                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire({
                            title: "Cancelled",
                            text: "Your imaginary file is safe :)",
                            icon: "error"
                        });
                    }
                });





        });

        $(".subbtn").click(function (event) {
            showLoader();
            event.preventDefault();  // previnting from reloading the web page
            var imgTag = $(this).attr("id");
            var tagSplit = imgTag.split("_");
            tagSplit = tagSplit[1];
            var img = $(`#imgTag_${tagSplit}`);




            var formData = new FormData($("#formData")[0]);


            $.ajax({
                url: "/admin/editCourseImg",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,

            })
                .done(function (res) {
                    if (res.status) {
                        Swal.fire({
                            icon: "success",
                            title: "عملیات موفقیت آمیز بود",
                            text: res.message,
                        });

                        $(img).attr("src", `/AdminAssets/img/ImgCourse/${res.reff}?t=${new Date().getTime()}`);
                    }
                    else {
                        Swal.fire({
                            icon: "error",
                            title: "خطا در عملیات",
                            text: res.message,
                        });
                    }
                })
                .fail(function () {
                    Swal.fire({
                        icon: "error",
                        title: "خطا در برقراری ارتباط با سرور",
                        text: res.message,
                    });

                })

                .always(function () {
                    hideLoader();
                });


        });


        $("#createCourseButton").click(function () {
            showLoader();
            $.post("/admin/createCourses2", { __RequestVerificationToken: token })

                .done(function (res) {
                    if (res.status) {
                        Swal.fire({
                            icon: "success",
                            title: "عملیات موفقیت آمیز بود",
                            text: res.message,
                            showConfirmButton: false,
                        });
                        setTimeout(reloadPage, 2000);

                        function reloadPage() {
                            window.location.reload();
                        }
                    }
                    else {
                        Swal.fire({
                            icon: "error",
                            title: "خطا در عملیات",
                            text: res.message,
                        });
                    }
                })
                .always(function () {
                    hideLoader();
                })

        });



    </script>
}


